#error {
    margin: 25% 17% -24%;
    width: 67%;
    height: 50px;
    background-color: #bd3030;
}
.error {
    text-align: center;
    color: white;
    padding: 2%;
}
#logo {
    margin: 2% 30% -90px 34%;
    width: 23vw
}
.login {
    margin: 25% 17%;
    width: 67%;
    height: 900px;
    box-shadow: 0.8px 0.8px 20px;
    border: 1px solid black;
    border-radius: 0.7%;
}
.title {
    text-align: center;
    font-family: cursive;
    font-size: 100px;
}
.input {
    width: 85.8%;
    height: 2.5vh;
    margin: 0px 0px 3% 7.6%;
    box-shadow: inset 0.01px 0.01px 6px #7c35f3;
}
.submit {
    color: whitesmoke;
    width: 87%;
    height: 2.5vh;
    margin: 0px 0px 3% 7.6%;
    background-color: blue
}
h4 {
    text-align: center;
}